<!doctype html>
<html lang="en">
<head>
    <%- include('parts/headers.ejs', { title, description }); %>
</head>
<body>
    <%- include('parts/navbar.ejs'); %>
    <section class="container">
        <div class="mods-container">
            <% for (const mod of mods) { %>
                <div class="mod-card">
                    <div class="mod-card-image">
                        <img src="<%- mod.image %>" alt="<%- mod.name %>'s image">
                    </div>
                    <div class="mod-card-header">
                        <h2 class="mod-name"><%- mod.name %></h2>
                    </div>
                    <div class="mod-card-content">
                        <p class="mod-description"><%- mod.description %></p>
                    </div>
                    <div class="mod-card-footer">
                        <a href="/mods/<%= mod.codename %>" class="btn btn-primary">See more</a>
                    </div>
                </div>
            <% } %>
        </div>
    </section>
    <%- include('parts/footer.ejs'); %>
</body>
</html>