<!doctype html>
<html lang="en">
<head>
    <%- include('parts/headers.ejs'); %>
    <title><% if (title) { %><%- title %><% } else { %><%- vars.defaultTitle %><% } %> - <%- vars.appName %></title>
</head>
<body>
    <%- include('parts/navbar.ejs'); %>
    <section class="container">
        <div class="rules-container">
            <h1>Rules</h1>
            <ol>
                <li>
                    <p>
                        <strong>NSFW Content</strong>: Any content that is sexual, overtly violent, or gory is not allowed. Content showing or promoting the abuse of people or animals is also strictly prohibited.
                    </p>
                </li>
                <li>
                    <p>
                         <strong>Hate Speech</strong>: We strive to maintain an open and diverse server. Any messages or content promoting racism, xenophobia, homophobia, or any other form of bigotry will not be tolerated.
                    </p>
                </li>
                <li>
                    <p>
                         <strong>Be Kind</strong>: Kindness and Respect are what drives our community. You respect us, and we respect you. We expect you to be respectful of other members. Also, this is not a political server, so please keep political discussions to a minimum. Lastly, please refrain from digging up past arguments with other members or staff.
                    </p>
                </li>
                <li>
                    <p>
                        <strong>Listen to the Staff</strong>: If a staff member asks you to do something, please listen to them. Also, if you encounter any staff member abusing their authority, please contact Gamearoo immediately. Lastly, impersonating staff or trying to insert yourself onto server staff is not allowed.
                    </p>
                </li>
                <li>
                    <p>
                        <strong>Unwanted Links/Spam</strong>: Posting unwanted links or spamming is not allowed (This also includes caps lock on and off spamming, LiKe tHiS). Advertising other discord servers is also not allowed.
                    </p>
                </li>
                <li>
                    <p>
                         <strong>DDoS Threats / Violent Threats</strong>: Although this is not an issue, nor an issue that I see happening in the future, it's best to get it set up and done now. Rather or not you are "JOKING" no threat should be given out to anyone over anything, especially DDos threats, DDoS threats, which are a big problem nowadays and have a HIGHLY illegal activity, as they can endanger people and their families along with destroying the victim's hardware that provides internet access (Wi-Fi router). Violent Threats, now ultimately no one is going to do anything, it's mostly just talk. However, should still never happen.
                    </p>
                </li>
                <li>
                    <p>
                        <strong>Following the Discord ToS</strong>: Although we know anyone can lie about their age, and even ignore the ToS of this software, we hope and ask our users to follow the <a href="https://discord.com/terms" target="_blank">Discords ToS</a>, rather this involves your age, text, and whatever else more there is to follow under the ToS.
                    </p>
                </li>
                <li>
                    <p>
                        <strong>Follow <a href="/terms" target="_blank">https://gamearoo.dev/terms</a></strong>.
                    </p>
                </li>
            </ol>
            <div class="rules-footer">
                <p class="rules-footer-warning">
                    IF YOU DID NOT READ THESE RULES TO THE ENTIRETY THAT IS ON YOU AND THERE ARE NO WARNINGS GIVEN FOR ANY RULES THAT ARE BROKEN!
                </p>
                <p>
                    This Document was created by the Owner and may not be touched or doctored in any way shape or form by anyone other than Owner. These rules are subject to change at any time and will be notified when changes are made. It is your responsibility to keep yourself up to date on the most recent rules of <%- vars.appName %>! Failure to comply with any of these rules may result in strike, suspension, and or ban.
                </p>
            </div>
        </div>
    </section>
    <%- include('parts/footer.ejs'); %>
</body>
</html>