<!doctype html>
<html lang="en">
<head>
    <%- include('parts/headers.ejs'); %>
    <title><% if (title) { %><%- title %><% } else { %><%- vars.defaultTitle %><% } %> - <%- vars.appName %></title>
</head>
<body>
    <%- include('parts/navbar.ejs'); %>
    <section class="container">
        <div class="rules-container">
            <h1>Rules</h1>
            <ol>
                <li>
                    <p>
                        We have a <strong>ZERO Tolerance</strong> for Racist remarks, words, and hateful speech towards other members. <strong>YOU WILL BE BANNED</strong>.
                    </p>
                </li>
                <li>
                    <p>
                        Don’t start drama inside general chat. This means issues with other members, you felt something was not done to your standard, or just trying to pick a fight. You will be given a strike and muted in the server for up to 24 hours.
                    </p>
                </li>
                <li>
                    <p>
                        Harassment of another member is not okay. If you feel like someone is harassing you because of your sex, race, religion, etc… please notify a staff member, and it will be dealt with up to the removal of the members that is harassing.
                    </p>
                </li>
                <li>
                    <p>
                        If you are caught giving out personal info of other members IE. Name, Birthday, Address, IP, etc… without their consent <strong>you will be banned</strong>!
                    </p>
                </li>
                <li>
                    <p>
                        Please be patient with our Staff, as we have lives outside of discord. Failure to not be patient with us can lead to a Strike and a mute up to 24 hours.
                    </p>
                </li>
                <li>
                    <p>
                        No advertising (on the server, via DM, status, or about me ). No links, no matter who you are all links will be banned, and you will be removed if we see links (with exception if partner etc.).
                    </p>
                </li>
                <li>
                    <p>
                        The act of spamming the bots or the chats will cause you to be banned from the use of the bots or muted in the chat. Do not spam ping, it will result in a ban.
                    </p>
                </li>
                <li>
                    <p>
                        Must be following Discord's ToS (Age, text, dms, etc.) If we believe or have proof that you're breaking the age requirements for Discord's ToS we will ban you. This can include (applications, dms, grammar, behavior, treats, etc.) you do not need to tell us your age for us to ban you for underage.<br/>
                        If you feel like you may be breaking the rules contact a staff member to get verified.<br/>
                        Regarding the TikTok lick trend if this is shared or talked about in the server you will be blocked and reported to Server Protection and on top banned from all servers connected to Gamearoo's Development.
                    </p>
                </li>
                <li>
                    <p>
                        All Alt Accounts are on an Alt blacklist in this server. If you're caught using an Alt, it will be a permanent ban for you and your Alt.
                    </p>
                </li>
                <li>
                    <p>
                        If management finds that you are a threat or a problem, they can ban you without having to justify. You can always appeal by <a href="mailto:<%- vars.email.abuseMail %>">emailing us at <%- vars.email.abuseMail %></a>.
                    </p>
                </li>
                <li>
                    <p>
                        Do not send or receive money within this server (Note: do consult a staff member if your getting asked to do so). As for now, our shop site isn't finished, so we may ask you money for our paid services on Discord until it is finished.
                    </p>
                </li>
                <li>
                    <p>
                        If rules changes, punishments begins immediately (No exception).
                    </p>
                </li>
                <li>
                    <p>
                        Threats to attack the bots or take down the nodes will result in a permanent ban and a blacklist from all of our services.
                    </p>
                </li>
                <li>
                    <p>
                        Asking for staff is prohibited and will result in a staff application ban.
                    </p>
                </li>
                <li>
                    <p>
                        If you apply for staff do not ask or tell us about it. If an application is submitted, we get the ping. If you ask or tell, it will be declined.
                    </p>
                </li>
                <li>
                    <p>
                        Arguing about a punishment will result in a more severe punishment such as mute, ban, or kick.
                    </p>
                </li>
            </ol>
            <div class="rules-footer">
                <p class="rules-footer-warning">
                    IF YOU DID NOT READ THESE RULES TO THE ENTIRETY THAT IS ON YOU AND THERE ARE NO WARNINGS GIVEN FOR ANY RULES THAT ARE BROKEN!
                </p>
                <p>
                    This Document was created by the Owner and may not be touched or doctored in any way shape or form by anyone other than Owner. These rules are subject to change at any time and will be notified when changes are made. It is your responsibility to keep yourself up to date on the most recent rules of <%- vars.appName %>! Failure to comply with any of these rules may result in strike, suspension, and or ban.
                </p>
            </div>
        </div>
    </section>
    <%- include('parts/footer.ejs'); %>
</body>
</html>